
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #7CC2FF;
    --secondary-color: #78D4FF;
    --accent1-color: #C7DFFF;
    --accent2-color: black;
    --heading-font: "Merriweather", serif;
    --body-font: "Kantumruy Pro", sans-serif;
}

body {
    font-family: var(--body-font);
    color: var(--accent2-color);
}

header {
    background-color: var(--primary-color);
    border-bottom: 3px solid var(--accent1-color);
    padding: 1rem;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}

.logo {
    width: 130px;
    height: auto;
    padding-left: 30px;
}

.logo img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

nav {
    width: 100%;
}

.navigation {
    list-style: none;
    display: none;
    flex-direction: column;
    background-color: white;
    border: 1px solid var(--accent2-color);
    position: absolute;
    top: 100%;
    right: 0;
}


.navigation.open{
    display: flex;
}


.navigation li {
    margin-bottom: 1rem;
}

.navigation a {
    text-decoration: none;
    color: #00008B;
    font-weight: 600;
}

.navigation a:hover{
    color: var(--accent2-color);
    font-weight: 700;
    font-style: italic;
}

#menu {
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--accent2-color);
    width: 30px;
    height: 30px;
    position: relative;
}

#menu::before {
    content: "☰";
    font-size: 1.5rem;
}


#menu.open::before {
    content: "❌";
}


footer {
    text-align: center;
    padding: 1rem;
    background-color: var(--primary-color);
    border-top: 3px dotted var(--secondary-color);
}



main{
    display: flex;
    flex-direction: column;
    align-items: center;
}


section{
    justify-self: center;
}

.hero img{
    width: 100%;
    height: auto;
    padding-top: 2px;
    border: 1px solid var(--accent2-color);
}



.goal, .questions{
    width: 80%;
    height: auto;
    margin: 8px;
    background-color: var(--accent1-color);
    border: 3px solid var(--accent2-color);
}

.goal{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 3fr;
}

.questions li{
    padding: 4px;
}

.goal h2{
    grid-row: 1/2;
    grid-column: 1/5;
    text-align: center;
}

.goal p{
    padding: 4px;
}

.goal img{
    grid-row: 1/3;
    grid-column: 2/3;
    padding-top: 2px;
    width: 80%;
    height: auto;
    justify-self: center;
}

.questions{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-position: inside;
}