@media screen and (min-width: 600px) {
    #menu{
        display: none;
    }

    header{
        width: 100%;
        height: auto;
    }

    .navigation{
        width: 94.5%;
        height: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .navigation li{
        padding-top: 15px;
        align-self: center;
    }

    .info{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
    }

    .student_pic{
        width: 30%;
    }

    .about_me{
        width: 70%;
    }

    .courses{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px;
    }
}